@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

section.OurServices {
  width: 100%;
  height: 790px;
  background-color: #70bfff;
  position: relative;
}

.picture {
  position: absolute;
  background: url(./img/ftuit.png) no-repeat, center;
  width: 462px;
  height: 527px;
  margin: 100px 165px 163px 873px;
}

span {
  position: absolute;
  width: 545px;
  height: 67px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 250px;
  margin-left: -60px;
}

.services {
  padding-left: 100px;
  position: absolute;
  margin-top: 180px;
  margin-left: 265px;
  width: 400px;
  height: 440px;
}

.services__type {
  display: flex;
  align-items: center;
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 10px;
}

.services__type__desc {
  width: 300px;
  height: 75px;
  color: #262626;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin-top: 30px;
}

.services__type__icons {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px double #9d9d9d;
}

.services__type__desc:hover {
  color: red;
}

section.gallery {
  width: 100%;
  height: 1540px;
  background-color: #ffe92f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigtitle {
  margin-top: 100px;
  width: 307px;
  height: 87px;
  color: #262626;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
}

.subtitile {
  margin-top: 28px;
  width: 577px;
  height: 70px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
}

.pictures {
  margin-top: 45px;
  width: 1210px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.pictures__right {
  display: flex;
  flex-direction: column;
}

img {
  padding: 15px;
}

button.VIEWMORE {
  margin-top: 70px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
  text-align: center;
  cursor: pointer;
}

section.subtous {
  height: 500px;
  background: url(./img/sub_bg.png) no-repeat center;
}

.sub__title {
  padding-top: 150px;
  margin-left: 350px;
  color: #262626;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
}

.sub__mintittle {
  margin-top: 34px;
  margin-left: 350px;
  width: 541px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

input[type=text].sub {
  margin-left: 350px;
  margin-top: 30px;
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
}

input[type=text]:focus {
  color: #000000;
  border: 1px solid #000000;
}

button.sub {
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
  width: 170px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #96b92c;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.blog {
  width: 100%;
  max-height: 864px;
  background-color: #b07cf7;
  box-sizing: border-box;
  padding: 100px 165px 120px;
}

.title {
  height: 86px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.text {
  width: 563px;
  height: 66px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  margin: 30px auto;
}

.icons {
  margin: 47px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  position: relative;
}

.data {
  background: url(./img/bg.png) no-repeat center;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: rgba(26, 26, 26, 0.5);
  margin: 30px 280px 220px 30px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.decription {
  width: 307px;
  height: 78px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  margin: 200px 43px 0px 20px;
}

.avtor {
  font-family: "Raleway";
  color: #ffffff;
  text-align: left;
  margin: 0px 43px 0px 20px;
}

.icon_one {
  width: 24%;
  height: 312px;
  background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(132, 129, 132, 0.0172443978) 58%, rgba(8, 7, 8, 0.7203256303) 100%), url(./img/1-layers.png) no-repeat center;
}

.icon_two {
  width: 24%;
  height: 312px;
  background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(132, 129, 132, 0.0172443978) 58%, rgba(8, 7, 8, 0.7203256303) 100%), url(./img/2-layers.png) no-repeat center;
}

.icon_three {
  width: 24%;
  height: 312px;
  background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(132, 129, 132, 0.0172443978) 58%, rgba(8, 7, 8, 0.7203256303) 100%), url(./img/3-layers.png) no-repeat center;
}

button {
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 660px;
}

button:hover {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: #10a730;
  transition-duration: 0.5s;
  width: 250px;
  height: 85px;
}

.icon_one:hover {
  transition-duration: 0.5s;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: #10a730;
  width: 26%;
  height: 385px;
}

.icon_two:hover {
  transition-duration: 0.5s;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  width: 26%;
  height: 385px;
}

.icon_three:hover {
  transition-duration: 0.5s;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 26%;
  height: 385px;
}